<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PDFDesigner Page Editor"
            extensions="pdd"
            icon="icons/sample.gif"
            contributorClass="fr.malaaria.PDFDesigner.editors.PDFDesignerMultiPageEditorContributor"
            class="fr.malaaria.PDFDesigner.editors.PDFDesignerMultiPageEditor"
            id="fr.malaaria.PDFDesigner.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="PDF Designer"
            id="fr.malaaria.PDFDesigner.category">
      </category>
      <wizard
            name="PDF Designer File"
            icon="icons/sample.gif"
            category="fr.malaaria.PDFDesigner.category"
            class="fr.malaaria.PDFDesigner.wizards.SampleNewWizard"
            id="fr.malaaria.PDFDesigner.wizards.SampleNewWizard">
      </wizard>
   </extension>
</plugin>
